@{
    ViewBag.Title = "Anasayfa";
}

<div class="jumbotron">
    <h1>Özlem Yazılım Öğrenci Kulubü</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Özlem Yazılım Öğrenci Kulubü Sayfasına Hoşgeldiniz</h2>
        <p>
           Öğreci kulup işlemlerinizi burada yapabileceksiniz
        </p>
    </div>
    <div class="col-md-4">
        <h2> Misyonumuz</h2>
        <p>Kulübümüzde isteyen öğrencilere yazılım ve teknoloji hakkında bilgiler ve öğretici dersler vermek</p>


        <div>
            @Html.ActionLink("Tüm kayıtları görmek ve kayıt olmak için", "../Student")
        </div>




    </div>
   
</div>